<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Contactos</title>
  </head>
  <body>
    <div
      class="sucessModalOverlay">
      <!-- ########################### ADD MODAL ############################ -->
      <div class="sucessMessageModal">
        <div class="modal-body">
          <h2>sucesso!</h2>
          <button type="button" class="btnOK btn btn-success">OK</button>
        </div>
      </div>
    </div>
    <script src="js/alerts.js"></script>
  </body>
</html>